.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.homeContainer {
  width: 100%;
  height: 100%;

  max-width: 1400px;

  margin: 0 auto;
  padding: 0 24px;
  
  display: grid;
  grid-template-columns: 280px calc(100% - 320px);
  grid-auto-flow: row;
  gap: 40px;
}

.homeContainer aside {
  width: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  padding-top: 36px;
  transition: all 0.5s ease;
  height: calc(100vh - 1px)
}

.homeContainer aside.show {
  transform: translate3d(0px, 0px, 0px);
}

.homeContainer aside div {
  width: 100%
}

.homeContainer aside div a {
  width: 100%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.homeContainer aside nav {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  align-self: flex-start;
  flex: 1 1 0%;
}

.homeContainer aside nav ul {
  width: 100%;
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.homeContainer aside nav ul li {
  font-size: 15px;
  width: 100%;
  padding: 0px 20px;
  cursor: pointer;
  transition: all 200ms ease-in-out 0s;
}

.homeContainer aside nav ul li a {
  font-size: 15px;
  color: rgb(108, 108, 128);
  background-color: rgb(255, 255, 255);
  padding: 4px 10px;
  border-radius: 4px;
  font-weight: normal;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin: 0px auto;
  transition: all 0.2s ease 0s;
}

.homeContainer aside nav ul li[aria-label="title"] {
  padding-left: 30px;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  color: rgb(61, 61, 77);
  letter-spacing: 0.142em;
  cursor: auto;
}

.homeContainer aside nav ul li a:hover {
  color: rgb(130, 87, 230);
}

.homeContainer aside nav ul li a.active-link {
  color: rgb(130, 87, 230);
  background-color: rgb(242, 242, 250);
}

@media (max-width: 780px) {
  .homeContainer {
    padding: 24px;
    grid-template-columns: 100%;
  }
  .homeContainer aside {
    max-width: 75%;
    min-width: auto;
    z-index: 1001;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    padding-top: 32px;
    background: rgb(255, 255, 255);
    transform: translate3d(-100%, 0px, 0px);
  }
}

@media (min-width: 780px) {
  .overlay {
    display: none !important;
  }
  .homeContainer main header {
    display: none;
  }
}

@media (max-width: 1200px) {
  .homeContainer main {
    flex-direction: column;
  }
  .homeContainer main article {
    max-width: 100%;
    padding-right: 0px;
    order: 3;
  }
}

.homeContainer main {
  height: 100%;
  padding-top: 36px;
  width: 100%;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  position: relative;
  overflow-y: scroll;
}

.homeContainer main header {
  height: 40px;
  margin-bottom: 24px;
}

.homeContainer main header button {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.homeContainer main article {
  width: 100%;
  /* max-width: calc(75% - 64px); */
  padding-right: 64px;
}

.homeContainer main article h1 {
  overflow-wrap: break-word;
  position: relative;
}

.homeContainer main article h1:not(:first-child) {
  margin-top: 3rem;
}

.homeContainer main article h2 {
  overflow-wrap: break-word;
  position: relative;
}

.homeContainer main article section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0px;
  width: 100%;
}

.homeContainer main article section div {
  transition: all 200ms ease 0s;
  margin-left: auto;
}

.homeContainer main article section div a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.homeContainer main article section div a div p {
  letter-spacing: 0.142em;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0px;
  color: rgb(108, 108, 128);
}

.homeContainer main article section div a div h3 {
  color: rgb(108, 108, 128);
  border: none;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}