.requestContainer {
  width: 100%;
  padding: 1rem;
  background: rgb(39, 41, 53);
  margin-bottom: 16px;
}

.requestContainer code {
  color: #fafafa;
  width: 60%;
  display: flex;
  align-items: center;
}

.requestContainer code span {
  color: #50F772;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #8f8f8f;
}

.requestContainer .json {
  width: 100%;
  height: 100%;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.requestContainer .json span.field,
.requestContainer .json .field .field {
  margin-left: 1rem;
  color: #50f772;
}

.requestContainer .json .field span {
  word-wrap: break-word;
  white-space: pre-wrap;
  color: #f7ec50;
}

.requestContainer .json .field .boolean {
  color: rgb(120, 209, 225);
}

.requestContainer .json .bracket,
.requestContainer .json .field .bracket {
  color: #fafafa;
}