header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  padding: 2rem 1rem;

  width: 100%;
  height: 50px;
  background: #1E1E1E;
}

header div {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
}

header .page-info h1 {
  font-size: 1.4rem;
  color: #fafafa;
}

header .page-info input {
  margin-left: 2rem;

  outline: 0;

  padding: 0.4rem 1rem;

  border-radius: .3rem;

  font-size: 0.8rem;
  background: transparent;
  color: #979797;
  border: 1px solid #4C4C4C;
}

header .user-info p {
  color: #fafafa;
  cursor: pointer;
}

header .user-info .user-pic {
  cursor: pointer;
  margin-left: 1rem;

  width: 50px;
  height: 50px;

  background: #fafafa;

  border-radius: 50%;
}