nav {
  width: 200px;
  height: 100%;

  background: rgb(36, 36, 36);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;

  padding: 1.2rem;

  position: absolute;
  top: 0;
  left: 0;
}

nav ul {
  width: 100%;
  list-style: none;
}

nav ul li {
  color: #fafafa;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  border-radius: .3rem;
  padding: 0.8rem 1rem;

  margin: 0.8rem auto;

  width: 80%;
  background: rgb(27, 27, 27);
}

nav ul li p {
  margin-left: 1rem;
}

nav ul li:hover, 
nav ul li:focus {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  nav {
    width: 100%;
    height: 200px;

    top: auto;
    bottom: 0;
  }
}