nav {
  padding: 1.2rem;

  width: 100%;
  height: 100%;
  background: #282C31;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin-bottom: 1rem;

  color: #fafafa;
  text-align: center;

  cursor: pointer;
}